@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h1>No tienes permiso para entrar en este lugar</h1>

    <a class="col-3 btn btn-secondary" onclick="history.go(-1);">Volver atras</a>

     
</div>