
@{
    ViewBag.Title = "Iniciar Sesión";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("ReturnUrl", ViewBag.ReturnUrl != null ? (string)ViewBag.ReturnUrl : null)
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Iniciar Sesión</h5>

                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Error
                            </div>

                        }

                        <div class="form-floating mb-3">
                            <label for="floatingUser">Usuario</label>
                            <input name="nombre" type="text" class="form-control col" id="floatingUser" placeholder="Ingrese el Usuario">
                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingPassword">Contraseña</label>
                            <input name="pass" type="password" class="form-control col" id="floatingPassword" placeholder="Ingrese la Contraseña">
                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingCuilCuit">Cuil/Cuit</label>
                            <input name="cuilCuit" type="text" class="form-control col" id="floatingCuilCuit" placeholder="Ingrese el Cuil/Cuit">
                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingIDComp">ID de Compañía</label>
                            <input name="idcomp" type="text" class="form-control col" id="floatingIDComp" placeholder="Ingrese el ID de compañía">
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit" id="buttonLogin" onclick="cambiarCargando()">
                                <span id="cargando" class="d-none">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Cargando...
                                </span>
                                <span id="ingresar">
                                    Ingresar
                                </span>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    <script>
        function cambiarCargando() {
            $('#buttonLogin').addClass("disabled")
            $('#cargando').addClass("d-block")
            $('#ingresar').addClass("d-none")
        }
    </script>
}