@model Dictamenes.Models.SujetoObligado

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Sujeto Obligado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CuilCuit" class="control-label"></label>
                <input asp-for="CuilCuit" class="form-control" />
                <span asp-validation-for="CuilCuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Razon Social</label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de Sujeto Obligado</label>
                <select asp-for="IdTipoSujetoObligado" class ="form-control" asp-items="ViewBag.IdTipoSujetoObligado"></select>
            </div>            
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
