@model Dictamenes.Models.Dictamen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dictamen</h4>
<hr />
<div >
    <a class="btn btn-outline-danger" asp-action="Create">Continuar sin cargar archivo</a>
</div>

<div class="row align-content-end">
    <div class="col-md-4">

        <form asp-action="CargarFile" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Ingrese el Archivo PDF</label>
                <input type="file" class="form-control" name="file" aria-describedby="inputGroupFileAddon04"
                       aria-label="Upload" required>
            </div>

            <div class="form-group">
                <div class="col row justify-content-between">
                    <a class="col-auto btn btn-outline-secondary" asp-action="Index">Volver atras</a>
                    <input type="submit" value="Cargar archivo" class="col-auto btn btn-primary" />
                </div>
            </div>


        </form>

    </div>    
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}