@model Dictamenes.Models.Dictamen

@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript">
    function setForm(value) {
        console.log(value);
        if (value != @ViewBag.IdDenunciante) {
            document.getElementById('FormEmpresas').style = 'display:block;';
            document.getElementById('FormPersonas').style = 'display:none;';
        }
        else {
            document.getElementById('FormPersonas').style = 'display:block;';
            document.getElementById('InputEmpresas').value = "-1";
            document.getElementById('FormEmpresas').style = 'display:none;';
        }
    }
</script>

<h1>Create</h1>

<h4>Dictamen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Numero de GDE</label>
                <input asp-for="NroGDE" class="form-control" />
                <span asp-validation-for="NroGDE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Numero de Expediente</label>
                <input asp-for="NroExpediente" class="form-control" />
                <span asp-validation-for="NroExpediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Carga</label>
                <input asp-for="FechaCarga" class="form-control" />
                <span asp-validation-for="FechaCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de Dictamen</label>
                <select asp-for="IdTipoDictamen" class="form-control" asp-items="ViewBag.IdTipoDictamen"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Asunto</label>
                <select asp-for="IdAsunto" class="form-control" asp-items="ViewBag.IdAsunto"></select>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsPublico" /> @Html.DisplayNameFor(model => model.EsPublico)
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">Tipo de Sujeto Obligado</label>
                <select class="form-control" name="IdTipoSujetoObligado" onchange="setForm(this.value)" asp-items="ViewBag.TipoSujetoObligado"></select>
            </div>

            <div id="FormEmpresas" style="display:block">
                <div class="form-group">
                    <label class="control-label">Empresas</label>
                    <select id="InputEmpresas" asp-for="IdSujetoObligado" class="form-control" asp-items="ViewBag.IdSujetoObligado"></select>
                </div>
            </div>

            <div id="FormPersonas" style="display:none">
                <label class="form-label">CUIL/CUIT </label>
                <input name="CuilCuitSujeto" type="number" class="form-control" placeholder="Ingrese el CUIL/CUIT del Sujeto Obligado">
                <label class="form-label">Nombre</label>
                <input name="Nombre" type="text" class="form-control " placeholder="Ingrese el Nombre del Sujeto Obligado">
                <label class="form-label">Apellido</label>
                <input name="Apellido" type="text" class="form-control " placeholder="Ingrese el Nombre del Sujeto Obligado">
            </div>

            <div class="form-group">
                <label class="control-label">Usuario generador</label>
                <input asp-for="IdUsuarioGenerador" class="form-control" />
                <span asp-validation-for="IdUsuarioGenerador" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
