<?xml version="1.0" encoding="utf-8" ?>
<framework>
  <AppID>261</AppID>
  <LoginUrl>http://segurodes40.ssn.gob.ar/loginuniversal/indexframe.aspx?vinoapp={0}&amp;local={1}</LoginUrl>
	<Roles>
		<add Name="CARGAR" Id="212"  />
		<add Name="CONSULTAR" Id="211"  />
	</Roles>
  <WebReferences>
    <add Name="LoginUniversal" Url="http://segurodes40.ssn.gob.ar/LoginUniversal/WCFLoginUniversal.LogLoginService.svc"  />
  </WebReferences>
</framework>