<?xml version="1.0" encoding="utf-8" ?>
<framework>
	<!-- ID de Aplicacion en Desarrollo -->
	<AppID>261</AppID>
	
	<!-- ID de Aplicacion en Produccion -->
	<!--<AppID>259</AppID>-->
	
	<!-- URL para redireccionar en el Login en Desarrollo -->
	<LoginUrl>http://segurodes40.ssn.gob.ar/loginuniversal/indexframe.aspx?vinoapp={0}&amp;local={1}</LoginUrl>
	
	<!-- URL para redireccionar en el Login en Produccion -->
	<!--<LoginUrl>http://seguro2.ssn.gob.ar/loginuniversal/indexframe.aspx?vinoapp={0}&amp;local={1} </LoginUrl>-->
	
	<Roles>
		<!-- ID de Roles en Desarrollo -->
		<add Name="CARGAR" Id="212"/>
		<add Name="CONSULTAR" Id="211"/>
		
		<!-- ID de Roles en Produccion -->
		<!--<add Name="CARGAR" Id="212"/>-->
		<!--<add Name="CONSULTAR" Id="211"/>-->		
	</Roles>
	
  <WebReferences>
	<!-- URL del servicio del Login Universal en Desarrollo -->
	<add Name="LoginUniversal" Url="http://segurodes40.ssn.gob.ar/LoginUniversal/WCFLoginUniversal.LogLoginService.svc"/>
	  
	<!-- URL del servicio del Login Universal en Produccion -->
	<!--<add Name="LoginUniversal" Url="http://seguro2.ssn.gob.ar/LoginUniversal/WCFLoginUniversal.LogLoginService.svc"/>-->
  </WebReferences>
</framework>