
@{
    ViewBag.Title = "Cargar Dictamenes";
}
<h2>Cargar Dictamenes</h2>

@using (Html.BeginForm("CargarDictamenes", "Dictamenes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.Label("Ingrese el JSON con todos los Dictamenes que desea agregar", htmlAttributes: new { @class = "control-label col-md-3 align-self-end" })

    </div>
    <div class="col-md-9">
        <textarea name="JSONDictamenes"></textarea>
    </div>

    <div class="form-group">
        <p class="">     Ingrese el Archivo PDF</p>
        <input type="file" class="" accept=".pdf" name="files" multiple>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <a class="col-3 btn btn-secondary m-1" onclick="history.go(-1);"><i class="bi bi-arrow-left"></i>  Volver atras</a>
            <button type="submit" class="btn btn-success col-4 m-1"><i class="bi bi-check2-square"></i>  Guardar </button>

        </div>
    </div>
}