

<div class="collapse mx-2" id="navbarToggleExternalContent">

    <form asp-action="Buscar" class="align-items-center">
        <div class="col row">
            <div class="col-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Numero de GDE</label>
                    <input name="NroGDE" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Numero de Expediente</label>
                    <input name="NroExpediente" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Carga Inicio</label>
                    <input type="datetime-local" name="FechaCargaInicio" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Carga Final</label>
                    <input type="datetime-local" name="FechaCargaFinal" class="form-control" value="" />
                </div>
                <div class="form-group">
                    <label class="control-label">Contenido</label>
                    <input name="Contenido" class="form-control" value="" />
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Tipo de Dictamen</label>
                    @*<select name="IdTipoDictamen" class="form-control" asp-items="ViewBag.IdTipoDictamen"></select>*@
                    @Html.DropDownList("IdTipoDictamen", (SelectList)ViewBag.IdTipoDictamen, "Elija uno", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Asunto</label>
                    @*<select name="IdAsunto" class="form-control" asp-items="ViewBag.IdAsunto"></select>*@
                    @Html.DropDownList("IdAsunto", (SelectList)ViewBag.IdAsunto, "Elija uno", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Detalle</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="EsPublico" checked /> Es publico
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="esDenunciante" onclick="setForm(this.checked)" /> Sujeto Obligado es Denunciante
                    </label>
                </div>

                <div id="FormEmpresas" style="display:block">
                    <div class="form-group">
                        <label class="control-label">Empresas</label>
                        @*<select id="InputEmpresas" name="IdSujetoObligado" class="form-control" asp-items="ViewBag.IdSujetoObligado"></select>*@
                        @Html.DropDownList("IdSujetoObligado", (SelectList)ViewBag.IdTipoDictamen, "Elija uno", new { @class = "form-control" })
                    </div>
                </div>

                <div id="FormPersonas" style="display:none">
                    <label class="form-label">CUIL/CUIT </label>
                    <input id="InputCuilCuit" name="CuilCuit" type="number" class="form-control" value="-1" placeholder="Ingrese el CUIL/CUIT del Sujeto Obligado">
                    <label class="form-label">Nombre</label>
                    <input name="Nombre" type="text" class="form-control " placeholder="Ingrese el Nombre del Sujeto Obligado">
                    <label class="form-label">Apellido</label>
                    <input name="Apellido" type="text" class="form-control " placeholder="Ingrese el Nombre del Sujeto Obligado">
                </div>

            </div>

        </div>
        <div class="col-1 px-2">
            <button type="submit" class="button btn-success p-2">Buscar</button>
        </div>
    </form>

</div>
